@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    font-weight: 400;
}

html, body, #root, .app {
    height: 100%;
    @apply text-gray-90;
}

.custom-bg-transparent {
    background-color: transparent;
}

.custom-bg-gray {
    @apply bg-gray-50
}

@layer utilities {
    .regular-30 {
        font-size: 30px;
        font-weight: 400;
    }

    .semibold-18 {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.6px;
    }

    .semibold-20 {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: -0.6px;
    }

    .section-title {
        font-size: 94px;
        font-weight: 400;
        @apply text-blue-90;
    }

    .section-description {
        font-size: 34px;
        font-weight: 400;
        @apply text-gray-90;
    }
}